<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="Listener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/SeleniumClasses">
        <parameter name="username" value="User"/>
        <classes>
            <class name="AsercionesTests" />
        </classes>
        <groups>
            <run>
                <exclude name="grupo2"></exclude>
            </run>
        </groups>
    </test>
</suite>